.list {
    margin: 5px;
    padding: 5px;
}

.header {
    height: 30px;
    background-color: #808080;
}

.footer input {
    width: 100%;
}

.box {
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    max-width: 250px;
}

.content {
    padding: 15px;
    border-radius: 5px;
}

.box .left {
    text-align: left;
}

.box .left .content {
    background-color: #dadada;
}

.box .right {
    text-align: right;
}

.box .right .content  {
    background-color: #0084ff;
}

.box .right .recipient {
    color: #808080;
}

.box .right .recipient {
    display: none;
}
